var{
    display: none;
}

/*PARTE ESPECÍFICA*/

    /*---------------------------------------------------------- ARTICLE ----------------------------------------*/
    article{
        width: 70%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;

    }

        /*Títulos de los eventos*/
        article > p{
            width: 100%;
            background-color: rgba(121, 21, 21, 0.63);
            text-align: center;
            font-weight: bold;
            font-size: x-large;
            margin-bottom: 2%;
            padding: 1% 0%;
        }

        /*Contenido del evento*/
        article > .offerContent, article > .socialButtons{
            width: 98%;
            margin: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 5%;
        }

            /*Texto relativo al evento*/
            article > .offerContent > .offerInfo{
                width: 60%;
                background-color: rgba(199, 33, 33, 0.788);
                padding: 1% 0% 1% 1%;
            }

                article #here{
                    margin-left: 5%;
                }

                article > .offerContent > .offerInfo > *:not(.noPadding){   /*Añadir espacios entre todos los elementos de la info acerca del evento*/
                    display: inline-block;
                    width: 95%;
                    margin: auto;
                    padding: 2% 0%;
                    overflow-wrap: break-word;
                }

                article > .offerContent > .offerInfo > .noPadding{
                    width: 98%;
                    display: inline-block;
                    margin: auto;
                    font-weight: bold;
                    padding-top: 2%;
                    
                }


                article > .offerContent > .offerInfo > .tab{
                    margin-left: 10%;
                    text-decoration: none;
                    
                }

                article > .offerContent > .offerInfo > a[class="tab"]{
                    display: inline-block;
                    width: 25%;
                    margin-top: 1%;
                    text-align: center;
                }

                article > .offerContent > .offerInfo > a[class="tab"]:hover, article .here:hover{
                    background-color: rgba(121, 21, 21, 0.63);
                }


            /*Formato al slider de imagenes*/

            article > .offerContent > .photos{
                width: 35%;
                align-items: center;
            }

            article > .offerContent > .photos > #slider{
                height: 350px;
                width: 100%;
                margin: auto;
                position: relative;
                list-style: none;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                align-self: center;
            }

            article > .offerContent > .photos > #slider img{
                position: absolute;
                top:0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: 0.5s;
            }

            article > .offerContent > .photos  > #slider input[type="radio"]{
                display: none;
            }
            
            article > .offerContent > .photos  > #slider input[type="radio"]:checked ~ img{
                opacity: 1;
            }
            
            article > .offerContent > .photos  > #slider input[type="radio"] + label{
                position: relative;
                z-index: 9;
                margin: 10px;
            
                display: block;
                width: 15px;
                height: 15px;
                background-color: white;
                border: solid 1px black;
                border-radius: 50%;
                cursor: pointer;
            
            }
            
            article > .offerContent > .photos  > #slider input[type="radio"]:checked + label{
                background-color: black;
            }


            /*Botones sociales*/
            article > .socialButtons{
                justify-content: flex-start;
                align-items: baseline;
                background-color: rgba(199, 33, 33, 0.788);
                padding: 1% 0% 1% 1%;
            }

            article > .socialButtons > h1{
                width: 22%;
                font-weight: bold;
                align-self: center;
            }

            article > .socialButtons > a{
                width: 2.5%;
                margin: 0% 1%;
                background-color: rgb(240, 223, 223);
                padding: 0.5%;
                border-radius: 10px;
            }

            article > .socialButtons > a:hover{
                background-color: rgb(187, 172, 172);  
            }

            article > .socialButtons > a > img{
                align-self: center;
                width: 100%;
                margin:auto;
            }

        /*Botón para abrir comentarios*/
        article > button{
            width: 20%;
            margin: auto;
            margin-bottom: 5%;
            margin-top: -1%;
        }

/*---------------------------------------------- COMENTARIOS -----------------------------------------------------------*/
.commentMenu{
    width: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9;
    transition: 0.5s;
    background-color: rgba(199, 33, 33, 0.788);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 60%;
}
    /*Formato de los elementos (comentarios predefinidos y crear comentario)*/
    .commentMenu > *:not(a){
        width: 90%;
        border: solid 2px black;
    }

    /*Formato de los menús predefinidos*/

    .commentMenu > .preDesignedCommentsContainer{
        display: flex;
        height: 40%;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 2% auto;
        overflow-y: scroll;
    }
    .commentMenu > .preDesignedCommentsContainer > .preDesignedComment{
        width: 90%;
        margin: 1% auto;
        background-color: rgba(121, 21, 21, 0.63);
    }

    .commentMenu > .preDesignedCommentsContainer > .preDesignedComment > p{
        font-weight: bold;
    }

    .commentMenu > .preDesignedCommentsContainer > .preDesignedComment > p:first-child{
        float: left;
    }

    .commentMenu > .preDesignedCommentsContainer > .preDesignedComment > p:nth-child(2){
        float: right;
    }

    .commentMenu > .preDesignedCommentsContainer > .preDesignedComment > pre{
        display: inline-block;
        width: 98%;
        text-align: left;
        margin: 5% auto 0% auto;
        clear: both;
        height: auto;
    }

    /*Formato de la creación del comentario*/
    .commentMenu > .createComment{
        width: 90%;
        margin: auto;
        margin-bottom: 3%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
    }

    .commentMenu > .createComment > *:not(input) {
        width: 90%;
        margin: 1% auto;
        text-align: left;
    }


    .commentMenu > .createComment > div > label{
        display: inline-block;
        width: 15%;
    }

    .commentMenu > .createComment > div > input{
        width: 30%;
    }

    .commentMenu > .createComment > input[type="submit"]{   /*Formato del botón de enviar*/
        width: 20%;
        margin: 2% auto;

    }

    .commentMenu > .createComment  .mandatory{ /*Mensajes de los campos obligatorios*/
        font-weight: bold;
    }

 /*----------------- MEDIAS ------------------*/

 @media (max-width: 1300px){
    article > .offerContent{
        flex-direction: column;
        
    }

    article  > .offerContent > .photos{
        order: -1;
        width: 70%;
        margin: 3% auto;
    }

    article > .offerContent > .offerInfo{
        width: 100%;
        margin: auto;
    }
 }


 @media (max-width: 1100px){
    article > .socialButtons > a{
        width: 4%;
        margin-top: 2%;
        margin-left: 5%;
    }
 }

 @media (max-width:850px){
    .insideGrid > img{
        width: 20%;
        margin: 1% auto 0% auto;
    }

    .insideGrid > h1{
        width: 98%;
        margin: auto;
        margin: 2% 0%;
    }

    .insideGrid > #space{
        width: 100%;
    }

    .insideGrid > nav > a{  
        width: 100%;
        margin-top: 1%;
    }

    aside{
        width: 95%;
        margin: 0 auto 4% auto;

    }

    aside > ul  li:not(:first-of-type){
        margin: 5% 0%;
    }

    article > p{
        width: 98%;
        margin: 5% auto auto auto;
    }

    article  > .offerContent > .photos{
        width: 100%;
    }

    article > .socialButtons > a{
        width: 6%;
    }

    footer *{
        width: 100%;
        text-align: center;
    }

    article{
        width: 80%;
    }

    /*Botón para abrir comentarios*/
    article > button{
        width: 30%;
    }


}

@media (max-width: 550px){
    article > .socialButtons > a{
        width: 9%;
    }

     /*Botón para abrir comentarios*/
     article > button{
        width: 50%;
    }

    .commentMenu > .createComment  input:not([type="submit"]), .commentMenu > .createComment textarea {
        width: 90%;
    }

    article > .offerContent > .photos > #slider{
        height: 300px;
    }
 }

 @media (max-width: 400px){
    article > .socialButtons > a{
        width: 12%;
        margin-left: 10%;
    }

    article{
        width: 90%;
    }

    article > .offerContent > .photos > #slider{
        height: 250px;
    }
 }