/*CSS (y HTML5) Reset, para que el formato funcione correctamete independientemente del navegador usado y de su versión*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark,
audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
 

}

var{
    display: none;    
}
    
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
    display: block;
}

/*PARTES COMUNES*/

/*------------------------------ HEADER Y FOOTER -------------------------------------------------*/

header,footer{
    width: 99%;
    margin: 0.5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: rgb(75, 4, 4);
    padding: 1% 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

.insideGrid{    /*Flex que se reutiliza tanto en el header como en el footer*/
    width: 98%;
    margin:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

    /*Parte de arriba del header (gif + titulo)*/
    .insideGrid:first-child{    /*Para cambiar el formato a la parte de arriba (Título + gif)*/
        justify-content: space-between;
    }

    .insideGrid > h1{
        width: 98%;
        margin: auto;
        text-align: center;
        font-size: 300%;
        margin: auto;
        margin-top: 2%;
    }
    
    .insideGrid > #space{
        width: 100%;
    }

    .insideGrid > img{
        width: 10%;
        margin: auto;
    }

    /*Parte de abajo del header (nav)*/

    .insideGrid > nav { /*Dar formato de flex también a los elementos dentro del nav, para que haya espacios equidistantes entre los elementos*/
        width: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 1%;

    }

    .insideGrid > nav > a{  /*Le damos tamaño y le quitamos el subrayado a los enlaces del nav*/
        width: 30%;
        text-decoration: none;
        text-align: center;
        font-size: x-large;
        color: white;
    }

    .insideGrid > nav > a:hover{
        background-color: rgb(51, 3, 3);
    }

footer  span{ /*Títulos del address*/
    text-decoration: underline;
}

/*PARTE ESPECÍFICA*/
/*------------------------------------------------------- MAIN -----------------------------------------*/

main{
    width: 99%;
    margin: 0.5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3% 0% 1% 0%;
}

    /*---------------------------------------------------------- ARTICLE ----------------------------------------*/
    article{
        width: 98%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;

    }

        /*Títulos de los eventos*/
        article > p{
            width: 90%;
            font-weight: bold;
            font-size: x-large;
            margin-bottom: 2%;
            margin-left: 3%; 
            padding: 1% 0%;
        }

        /*Contenido del evento*/
        article > .offerContent{
            width: 98%;
            margin: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 5%;
        }

            /*Texto relativo al evento*/
            article > .offerContent > .offerInfo{
                width: 60%;
                padding: 1% 0% 1% 1%;
            }

                article > .offerContent > .offerInfo > *:not(.noPadding){   /*Añadir espacios entre todos los elementos de la info acerca del evento*/
                    width: 95%;
                    margin: auto;
                    padding: 2% 0%;
                }

                article > .offerContent > .offerInfo > .noPadding{
                    width: 98%;
                    margin: auto;
                    font-weight: bold;
                    padding-top: 2%;
                    
                }


                article > .offerContent > .offerInfo > .tab{
                    margin-left: 10%;
                    text-decoration: none;
                    
                }

                article > .offerContent > .offerInfo  a{
                    color: black;
                }

                article > .offerContent > .offerInfo > a[class="tab"]{
                    display: inline-block;
                    width: 25%;
                    margin-top: 1%;
                    text-align: center;
                }



            /*Formato al slider de imagenes*/

            article > .offerContent > .photos{
                width: 30%;
                align-items: center;
            }

            article > .offerContent > .photos > #slider{
                height: 350px;
                width: 100%;
                margin: auto;
                position: relative;
                list-style: none;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                align-self: center;
            }

            article > .offerContent > .photos > #slider img{
                position: absolute;
                top:0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: 0.5s;
            }

            article > .offerContent > .photos  > #slider input[type="radio"]{
                display: none;
            }
            
            article > .offerContent > .photos  > #slider input[type="radio"]:checked ~ img{
                opacity: 1;
            }
            
            article > .offerContent > .photos  > #slider input[type="radio"] + label{
                position: relative;
                z-index: 9;
                margin: 10px;
            
                display: block;
                width: 15px;
                height: 15px;
                background-color: white;
                border: solid 1px black;
                border-radius: 50%;
                cursor: pointer;
            
            }
            
            article > .offerContent > .photos  > #slider input[type="radio"]:checked + label{
                background-color: black;
            }

/*----------------- MEDIAS ------------------*/
@media (max-width: 1300px){
    article > .offerContent{
        flex-direction: column;
        
    }

    article  > .offerContent > .photos{
        order: -1;
        width: 70%;
        margin: 3% auto;
    }

    article > .offerContent > .offerInfo{
        width: 100%;
        margin: auto;
    }
 }

@media (max-width:850px){
    .insideGrid > img{
        width: 20%;
        margin-top: 1%;
    }

    .insideGrid > nav > a{  
        width: 100%;
        margin-top: 1%;
    }

    article > p{
        width: 98%;
        margin: auto;
    }

    article > .offerContent{
        flex-direction: column;
        
    }


    article  > .offerContent > .photos{
        width: 100%;
    }

    article > .offerContent > .offerInfo{
        width: 95%;
        margin: auto;
    }

    .commentMenu{
        display: none;
    }

    footer *{
        width: 100%;
        text-align: center;
    }

}

            